@media (min-width: 992px) {
  .Nav-bg-container {
    background-color: #2c0e3a;
    min-height: 10vh;
    background-size: cover;
    display: flex;
    justify-content: space-between;
  }
  .list-container1 {
    list-style-type: none;
  }
  .list-container2 {
    list-style-type: none;
    display: flex;
    flex-direction: row;
  }
  .image {
    height: 6vh;
    width: 10vw;
    margin-left: 30px;
    margin-top: 10px;
  }
  .new-para {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;

    color: #ffffff;
  }
  .spanEl {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px;
    padding-right: 20px;
    padding-left: 10px;
    color: #fec653;
  }
  .timer-image {
    height: 4vh;
    align-self: center;
    width: 2vw;
  }
  .timer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 577px) and (max-width: 991px) {
  .Nav-bg-container {
    background-color: #2c0e3a;
    min-height: 10vh;
    background-size: cover;
    display: flex;
    justify-content: space-between;
  }
  .list-container1 {
    list-style-type: none;
  }
  .list-container2 {
    list-style-type: none;
    display: flex;
    flex-direction: row;
  }
  .image {
    height: 7vh;
    width: 17vw;
    margin-left: 30px;
    margin-top: 10px;
  }
  .new-para {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;

    color: #ffffff;
  }
  .spanEl {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px;
    padding-right: 20px;
    padding-left: 10px;
    color: #fec653;
  }
  .timer-image {
    height: 4vh;
    align-self: center;
    width: 3vw;
  }
  .timer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .Nav-bg-container {
    background-color: #2c0e3a;
    min-height: 5vh;
    background-size: cover;
    display: flex;
    justify-content: space-between;
  }
  .list-container1 {
    list-style-type: none;
  }
  .list-container2 {
    list-style-type: none;
    display: flex;
    flex-direction: row;
  }
  .image {
    height: 5vh;
    width: 30vw;

    margin-top: 10px;
  }
  .new-para {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;

    color: #ffffff;
  }
  .spanEl {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px;
    padding-right: 20px;
    padding-left: 10px;
    color: #fec653;
  }
  .timer-image {
    height: 4vh;
    align-self: center;
    width: 5vw;
  }
  .timer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
