@media (min-width: 992px) {
  .img-list-container {
    list-style-type: none;
    margin: 5px;
  }
  .imageBtn {
    background-color: transparent;
    border: 0 none;
  }
  .thumbnail-image {
    height: 20vh;
    width: 10vw;
  }
}
@media (min-width: 577px) and (max-width: 992px) {
  .img-list-container {
    list-style-type: none;
    margin: 5px;
  }
  .imageBtn {
    background-color: transparent;
    border: 0 none;
  }
  .thumbnail-image {
    height: 20vh;
    width: 30vw;
  }
}
@media (max-width: 576px) {
  .img-list-container {
    list-style-type: none;
    margin: 5px;
  }
  .imageBtn {
    background-color: transparent;
    border: 0 none;
  }
  .thumbnail-image {
    height: 15vh;
    width: 15vw;
  }
}
